Flask==2.3.2
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Admin==1.6.1
Flask-Mail==0.10.0
email-validator==2.0.0.post2
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-dotenv==1.1.1
google-api-python-client==2.97.0
google-auth-httplib2==0.4.2
google-auth-oauthlib==1.0.0
Werkzeug==2.3.7
Pillow==10.0.0
cloudinary==1.36.0