<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/hero/logo.png') }}"
    />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Text:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!-- External CSS -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/queries.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <!------------- Admin Head ------------->
    <link
      href="{{ url_for('static', filename='css/admin.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/admin_queries.css') }}"
      rel="stylesheet"
      type="text/css"
    />




    <!----------------Login --------------->


    <!---------------More Pages ---------->
    <link
      href="{{ url_for('static',filename='css/MorePages-queries.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static',filename='css/MorePagres-style.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <!---------------Register--------------->


    <!---------------Event Page------------->


    <!---------------Base-------------------->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/base.css') }}"
    />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/8b02daf965.js"
      crossorigin="anonymous"
    ></script>
    <title>CollegeEventPortal</title>

  </head>
  <body>

    <header class="navheader">
      <a href="{{ url_for('core.index') }}"
      > 
      <a href="{{ url_for('core.index') }}">
        <img
          src="{{ url_for('static', filename='img/final.png') }}"
          class="navlogo"
          alt="logo of jyothi"
        />
      </a>

      <ul class="main-nav-list">
        <li>
          <a href="#events" class="nav-link">Events</a>
        </li>
        <li>
          <a href="#feedback" class="nav-link">Feedback</a>
        </li>
        <li>
          <a href="#footer" class="nav-link">Contact Us</a>
        </li>
        <li>
          <a href="https://www.jecc.ac.in/" class="nav-link">About</a>
        </li>
      </ul>
      <nav class="main-nav">
        <a
          href="{{ url_for('users.register') }}"
          class="navbtn solid-navbtn mobile-order nav-link"
          ><i class="fa-regular fa-calendar-check"> </i> Sign Up</a
        >
        <a
          href="{{ url_for('users.register') }}"
          class="navbtn solid-navbtn desktop-order nav-link"
          ><i class="fa-regular fa-calendar-check"></i> Sign Up</a
        >
        
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('users.logout') }}" class="navbtnprofile desktop-order nav-link"
          >{{ current_user.username }}
        </a>
        <div class="dropdown">
          <button onclick="toggleDropdown()" class="dropdown-button">
            <span class="arrow">&#9662;</span>
          </button>
          <div id="dropdown-content" class="dropdown-content">
            <a href="{{ url_for('users.logout') }}">Log Out</a>
          </div>
        </div>

        {% else %}
        <a
          href="{{ url_for('users.login') }}"
          class="navbtn solid-navbtn mobile-order nav-link"
          ><i class="fa-regular fa-calendar-check"> </i> Sign In</a
        >
        <!-- <a href="{{ url_for('users.login') }}" class="navbtn solid-navbtn desktop-order nav-link"
          ><i class="fa-regular fa-calendar-check"></i> Sign  In</a
        > -->
        {% endif %}
      </nav>

      <button class="mobile-nav-navbtn">
        <span class="mobile-open">
          <i class="fa-solid fa-bars mobile-open"></i>
        </span>
        <span class="mobile-close"
          ><i class="fa-solid fa-xmark mobile-close"></i
        ></span>
      </button>
    </header>
   {% block content %} {% endblock %}
  </body>


  <!-- JS -->

  <script>
    /* HAMBURGER MENU */
    const navButton = document.querySelector(".mobile-nav-btn");
    const headerElement = document.querySelector(".navheader");

    navButton.addEventListener("click", function () {
      headerElement.classList.toggle("nav-open");
    });

    /* STICKY NAVIGATION */
    const heroElement = document.querySelector(".section-hero");
    const navObserver = new IntersectionObserver(
      function (entries) {
        const ent = entries[0];
        if (ent.isIntersecting === false) {
          document.body.classList.add("sticky");
        } else {
          document.body.classList.remove("sticky");
        }
      },
      {
        root: null,
        threshold: 0,
        rootMargin: "-80px",
      }
    );

    navObserver.observe(heroElement);

    
  </script>

</html>
