<link
      href="{{url_for('static',filename='css/create.css')}}"
      rel="stylesheet"
      type="text/css"
/>
  <body>
    <header class="header">
      <a href="/admin"><img src="{{ url_for('static',filename='img/final.png') }}" class="logo" alt="logo of jyothi" /></a>
    </header>
    <div class="wrapper">
      <div class="title">Create Event</div>

      <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form">
         <div class="inputfield">
          {{ form.title.label }}
          {{ form.title(class="input") }}
        </div>

        <div class="inputfield">
          {{ form.location.label }}
          {{ form.location(class="input") }}
        </div>

        <div class="inputfield">
          {{ form.event_date.label }}
          {{ form.event_date(class="input") }}
        </div>
        <div class="inputfield">
          {{ form.event_time.label }}
          {{ form.event_time(class="input") }}
        </div>

          <div class="inputfield">
            <label>Event Banner</label>
            <input name="wallpaper" type="file" class="input" />
          </div>

        <div class="inputfield">
          {{ form.description.label }}
          {{ form.description(class="input") }}
        </div>

        <div class="inputfield">
          {{ form.submit(class="btn") }}
        </div>
      </div>

      </form>
      <!--
        <form method="POST" enctype="multipart/form-data">
        <div class="form">
          <div class="inputfield">
            <label>Event Name</label>
            <input name="title" type="text" class="input" />
          </div>
          <div class="inputfield">
            <label>Location</label>
            <select name="location" class="input">
              <option>Main Hall</option>
              <option>Alumini Corner</option>
              <option>Hall No.1</option>
              <option>Hall No.2</option>
            </select>
          </div>
          <div class="inputfield">
            <label>Date</label>
            <input name="date" type="date" class="input" />
          </div>
          <div class="inputfield">
            <label>Time</label>
            <input name="time" type="time" class="input" />
          </div>

          <div class="inputfield">
            <label>Event Description</label>
            <textarea
              name="description"
              class="textarea"
            ></textarea>
          </div>
          <div class="inputfield">
            <input type="submit" value="Save Event" class="btn" />
          </div>
        </div>
      </form>
      !-->


    </div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="popup open-popup" id="popup">
      <h1>{{ message }}</h1>
      <button type="button" onclick="removeFlash()">Ok</button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </body>
</html>



