{% extends "base.html" %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



<title>CollegeEventPortal</title>


  <body>
    <!-- <header class="header">
      <img src="{{ url_for('static', filename='img/final.png') }}" class="logo" alt="logo of jyothi" />
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a href="#events" class="nav-link">Events</a>
          </li>
          <li>
            <a href="#feedback" class="nav-link">Feedback</a>
          </li>
          <li>
            <a href="#footer" class="nav-link">Contact Us</a>
          </li>
          <li>
            <a href="https://www.jecc.ac.in/" class="nav-link">About</a>
          </li>
        </ul>
        <a href=" {{ url_for('users.register') }} " class="btn solid-btn mobile-order nav-link"
          ><i class="fa-regular fa-calendar-check"> </i> Sign Up</a
        >
      </nav>
      <a href=" {{ url_for('users.register') }} " class="btn solid-btn desktop-order nav-link"
        ><i class="fa-regular fa-calendar-check"></i> Sign Up</a
      >

      <button class="mobile-nav-btn">
        <span class="mobile-open">
          <i class="fa-solid fa-bars mobile-open"></i>
        </span>
        <span class="mobile-close"
          ><i class="fa-solid fa-xmark mobile-close"></i
        ></span>
      </button>
    </header> -->
    <main>
      <section class="section-hero">
        <div class="hero-group">
          <div class="hero-text-wrapper">
            <h1 class="hero-heading">
              <span>Jyothi Events '23</span>
            </h1>
            <p class="hero-description">
              "Discover exciting <span> campus events </span>and stay connected
              with your college community through our innovative event portal!"
            </p>
            <div class="hero-marquee">
              <ul class="event-types-list marquee-animation">
                <li class="paleo">This is a sample scrolling text that has scrolls texts to
                  left.</li>
              </ul>
            </div>
          </div>
          <div class="hero-img-wrapper">
            <img
              src="{{ url_for('static', filename='img/hero/logo.png') }}"
              alt="logo jyothi"
              onclick="{{ url_for('core.index') }}"
            />
          </div>
          <div class="mobile-hero-img">
            <img
              src="{{ url_for('static', filename='img/hero/logo.png') }}"
              alt="logo jyothi"
            />
          </div>
        </div>
      </section>
      <section class="featured-logos">
        <img
          src="{{ url_for('static', filename='img/credit/1_kHGezmjRSsinyHaK1WLMOw-1 (1) (2).png') }}"
          alt="forbes logo"
        />
        <img
          src="{{ url_for('static', filename='/img/credit/nba.png') }}"
          alt="nba logo"
        />
        <img
          src="{{ url_for('static', filename='/img/credit/ariia_logo.png') }}"
          alt="ariia logo"
        />
      </section>

      <section class="section-events" id="events">
        <h1 class="subheading">[event registration]</h1>
        {% if events.total == 0 %}
        <h2 class="body-heading">
          Currently There is no <span>events</span> !!
        </h2>
        {% else %}
        <h2 class="body-heading">
          Jyothi brings a ton of engaging <br /><span>events</span> every year
        </h2>
        {% endif %}
        <div class="event-card-overview">
          {% for event in events.items[:4] %}
          <div class="event-card">
            <img
              src="{{ url_for('static',filename='event_wallpapers/'+ event.wallpaper) }}"
              alt="carnival image"
            />
            <div class="event-card-body">
              <p class="event-card-heading">
                <a href="{{ url_for('events.event',event_id=event.id) }}"
                  >{{ event.title }}</a
                >
              </p>
              <p class="event-card-desc">{{ event.description[:50] }} ...</p>
              <ul class="event-stats">
                <li>
                  <i class="fa-solid fa-calendar-days"></i
                  ><span>{{ event.event_date }}</span>
                </li>
                <li>
                  <i class="fa-solid fa-clock"></i
                  ><span>{{ event.event_time }}</span>
                </li>
                <li>
                  <i class="fa-solid fa-location-dot"></i
                  ><span>{{ event.location }}</span>
                </li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
        {% if events.total > 4 %}
        <div class="event-types-overview">
          <a href="{{ url_for('events.event_listview') }}"><strong>More Event's</strong> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
        </div>
        {% endif %}
      </section>

      <section class="section" id="feedback">
        <h1 class="subheading">[Feedback]</h1>
        <div class="slider">
          <div class="slide">
            <div class="testimonial">
              <h5 class="testimonial__header">
                The last step to becoming a complete minimalist
              </h5>
              <blockquote class="testimonial__text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Accusantium quas quisquam non? Quas voluptate nulla minima
                deleniti optio ullam nesciunt, numquam corporis et asperiores
                laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
                id alias reiciendis, perferendis facere pariatur dolore veniam
                autem esse non voluptatem saepe provident nihil molestiae.
              </blockquote>
              <address class="testimonial__author">
                <h6 class="testimonial__name">Aarav Lynn</h6>
                <p class="testimonial__location">San Francisco, USA</p>
              </address>
            </div>
          </div>

          <div class="slide">
            <div class="testimonial">
              <h5 class="testimonial__header">
                The last step to becoming a complete minimalist
              </h5>
              <blockquote class="testimonial__text">
                Quisquam itaque deserunt ullam, quia ea repellendus provident,
                ducimus neque ipsam modi voluptatibus doloremque, corrupti
                laborum. Incidunt numquam perferendis veritatis neque
                repellendus. Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Illo deserunt exercitationem deleniti.
              </blockquote>
              <address class="testimonial__author">
                <h6 class="testimonial__name">Miyah Miles</h6>
                <p class="testimonial__location">London, UK</p>
              </address>
            </div>
          </div>

          <div class="slide">
            <div class="testimonial">
              <h5 class="testimonial__header">
                The last step to becoming a complete minimalist
              </h5>
              <blockquote class="testimonial__text">
                Debitis, nihil sit minus suscipit magni aperiam vel tenetur
                incidunt commodi architecto numquam omnis nulla autem,
                necessitatibus blanditiis modi similique quidem. Odio aliquam
                culpa dicta beatae quod maiores ipsa minus consequatur error
                sunt, deleniti saepe aliquid quos inventore sequi.
                Necessitatibus id alias reiciendis, perferendis facere.
              </blockquote>
              <address class="testimonial__author">
                <h6 class="testimonial__name">Francisco Gomes</h6>
                <p class="testimonial__location">Lisbon, Portugal</p>
              </address>
            </div>
          </div>

          <button class="slider__btn slider__btn--left">&larr;</button>
          <button class="slider__btn slider__btn--right">&rarr;</button>
          <div class="dots"></div>
        </div>
      </section>

      <section class="section-signup" id="signup">
        <h1 class="subheading">[News-Letter]</h1>
        <div class="signup-box">
          <div class="signup-img"></div>

          <div class="signup-form">
            <h1 class="signup-heading">
              Don't Miss Out on Campus Events - NewsLetter!
            </h1>

            <form id="form-subscribe-element" name="sign-up">
              <div>
                <label for="user-name">Name</label>
                <input
                  type="text"
                  id="user-name"
                  placeholder="Edwin"
                  name="full-name"
                  required
                />
              </div>
              <div>
                <label for="user-email">Email</label>
                <input
                  type="email"
                  id="user-email"
                  placeholder="edwin.cse20@jecc.ac.in"
                  name="email"
                  required
                />
              </div>

              <div>
                <button class="subscribe-btn">Get it now!</button>
              </div>
            </form>
            <p class="submission"></p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="section-footer" id="footer">
        <div class="logo-col">
          <a href="#" class="footer-logo">
            <img
              src="{{ url_for('static', filename='/img/final.png') }}"
              class="logo"
              alt="Jyothi logo"
            />
          </a>

          <ul class="social-links">
            <li>
              <a
                class="footer-link"
                href="mailto:work.jecc@gmail.com"
                target="_blank"
                ><i class="fa-solid fa-envelope social-icon"></i
              ></a>
            </li>
            <li>
              <a
                class="footer-link"
                href="https://twitter.com/kenntshine"
                target="_blank"
              >
                <i class="fa-brands fa-twitter social-icon"></i
              ></a>
            </li>
            <li>
              <a
                class="footer-link"
                href="https://github.com/kentshine"
                target="_blank"
              >
                <i class="fa-brands fa-github social-icon"></i
              ></a>
            </li>
          </ul>

          <p class="copyright">
            Copyright &copy; <span class="year"></span> All rights reserved.
          </p>
        </div>
        <div class="address-col">
          <p class="footer-heading">Contact us</p>
          <address class="contacts">
            <p>+91 - 999999999</p>
            <p class="address">
              Jyothi Hills, Panjal Rd, Vettikattiri, Cheruthuruthi, Kerala
              679531
            </p>
          </address>
        </div>

        <nav class="nav-col">
          <p class="footer-heading">Account</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Create account</a></li>
            <li><a class="footer-link" href="#">Sign in</a></li>
          </ul>
        </nav>

        <nav class="nav-col">
          <p class="footer-heading">Campus</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">About JECC</a></li>
            <li><a class="footer-link" href="#">Careers</a></li>
          </ul>
        </nav>

        <nav class="nav-col">
          <p class="footer-heading">T&C</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Privacy & terms</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="popup open-popup" id="popup">
      <h1 style="color: rgb(2, 2, 2); font-size: 3rem; margin-top: 25px">{{ message }}</h1>
      <button type="button" onclick="removeFlash()">Ok</button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

  </body>
  <script src="{{ url_for('static',filename='js/slider.js') }}"></script>

</html>
{% endblock %}