* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  /* background: linear-gradient(
    450.56deg,
    rgba(8, 141, 230, 0.43) -32.94%,
    rgba(216, 245, 204, 0) 99.61%
  ); */
  padding: 0 10px;
}

/* .logo {
  height: 5.7rem;
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 3 4rem;
} */

.wrapper {
  max-width: 900px;
  width: 100%;
  background: #fff;
  margin: 70px auto;
  box-shadow: 2px 8px 8px 8px rgba(0, 0, 0, 0.125);
  padding: 30px;
  border-radius: 20px;
}

.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #4f8eca;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 19px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
  width: 50%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
  width: 70%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
  border: 1px solid #81badb;
}

.wrapper .form .inputfield p {
  font-size: 14px;
  color: #757575;
}

.wrapper .form .inputfield .btn {
  width: 40%;
  padding: 8px 2px;
  font-size: 19px;
  border: 0px;
  background: #71a7e6;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .form .inputfield .btn:hover {
  background: #68b1e2;
}

.wrapper .form .inputfield:last-child {
  margin-bottom: 0;
}

@media (max-width: 420px) {
  .wrapper .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label {
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms {
    flex-direction: row;
  }
}
