* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
  /* 24 / 30 / 36 */
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  margin-left: 60px;
}

.btn:link,
.btn:visited {
  background-color: #6ba3e7;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;

  display: inline-block;
  border-radius: 50px;
}

.btn:hover,
.btn:active {
  background-color: #6ba3e7;
}

.btn--big {
  font-size: 15px;
  padding: 20px 22px;
  margin-left: 355px;
  text-transform: lowercase;
}

img {
  border-radius: 12px;
}

/* HEADER */
header {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  /* 44 / 52 / 62 */

  /* text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

img {
  width: 50%;
  margin-left: 200px;
  margin-bottom: 20px;
}

/* FEATURES */
.schedule-icon {
  stroke: #818181;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.schedule {
  margin-bottom: 40px;
  font-size: 20px;
}

@media only screen and (max-width: 700em) {
  /* GENERAL */
  .body {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 58em) {
  /* GENERAL */
  html,
  body,
  img {
    font-size: 60%;
    width: 20rem;
    padding-left: 1rem;
  }

  h1 {
    font-size: 3rem;
    margin-left: 2rem;
    float: none;
    width: 98%;
    padding: 1%;
  }
}
