*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: -1.3rem;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  height: 100%;
  color: #555;
  font-size: 65%;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

span {
  font-weight: 700;
}

/* Header section */
/* .logo {
  height: 6.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 0 4rem;
} */

.subheading {
  color: #77adf3;
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
}

/*..... Event Card..... */
.section-events {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.28) 100%
  );
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.138);
}

.event-card-overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 150rem;
  gap: 2rem;
  margin-top: 3rem;
}

/*.... Event Card... */
.event-card {
  border: 1px solid rgba(230, 230, 230, 0.6);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  transition: all 200ms ease-in;
  height: auto;
}

.event-card img {
  width: 36rem;
  height: 30rem;
  border-radius: 16px 16px 0px 0px;
}

.event-card-body {
  padding: 2.2rem 2rem;
  height: auto;
}

.event-card-heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 1rem;
}

.event-card-desc {
  color: #626262;
  font-size: 1.2rem;
  margin: auto 1rem 1rem 1rem;
}

.event-stats {
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0 2rem;
}

.event-stats li {
  padding-bottom: 1rem;
  vertical-align: middle;
}

.event-stats i {
  color: #525252;
  font-size: 2rem;
  margin-right: 1.2rem;
}

.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.184);
  background: white;
}
