/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: -1.3rem;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  height: 100%;
  color: #555;
  font-size: 65%;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

span {
  font-weight: 700;
}

small {
  font-size: 1.4rem;
  margin-top: 1.6rem;
}

/* HEADER */
/* .logo {
  height: 6.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 0 4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  font-size: 1.7rem;
  font-weight: 700;
  background: #fafafa;
  border-radius: 50px;
  padding: 1rem 2rem;
}

.main-nav-list a {
  padding: 1rem;
  transition: all 150ms ease-in-out;
}

.main-nav-list a:hover {
  background: #eff1ee;
  color: #5ba3e7;
  border-radius: 20px;
}

.header .solid-btn {
  padding: 1rem 4rem;
}

.header .solid-btn i {
  color: #fafafa;
  margin-right: 0.2rem;
} */

/* HEADER STICKY */
/* .sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #f6f8fa;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10;
  height: 8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
}

.sticky .section-hero {
  margin-top: 8rem;
} */

/* MOBILE NAV */
/* .mobile-nav-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  box-shadow: none;
  width: fit-content;
}

.mobile-nav-btn i {
  color: #000000;
  font-size: 3.6rem;
}

.mobile-order,
.mobile-close i {
  display: none;
} */

/* HERO */
.section-hero {
  /* background: linear-gradient(
    359.56deg,
    rgba(8, 141, 230, 0.43) -32.94%,
    rgba(216, 245, 204, 0) 99.61%
  ); */
  background-color: #174a01;
  padding: 4rem 0;
}

.hero-group {
  display: grid;
  grid-template-columns: 45fr 55fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.hero-text-wrapper {
  margin: 3rem;
}

.hero-heading {
  font-weight: 700;
  color: #333;
  font-size: 5rem;
  letter-spacing: -0.5px;
  line-height: 6.5rem;
  margin-bottom: 1.5rem;
}

.hero-description {
  font-size: 2.1rem;
  max-width: 60rem;
  margin-bottom: 3rem;
}

/* HERO MARQUEE */
.hero-marquee {
  max-width: 95rem;
  white-space: nowrap;
  overflow: hidden;
}

.event-types-list {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 3rem;
}

.marquee-animation {
  animation: marquee 17s linear infinite;
}

.marquee-animation:hover {
  animation-play-state: running;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.paleo {
  background: #eed374;
}

.event-types-list li {
  display: inline;
  padding: 0.6rem 0.8rem;
  border-radius: 50px;
  margin: 0.5rem;
}

/* HERO BUTTONS  + GENERAL BUTTON STYLING */
.hero-buttons {
  margin-top: 4rem;
}

.btn {
  border-radius: 50px;
  padding: 1rem 5rem;
  font-size: 1.7rem;
  margin: 0 1rem;
  font-weight: 500;
  transition: all 120ms ease-in-out;
}

.outline-btn {
  background: white;
  box-shadow: inset 0 0 0 2px #111111;
}

.outline-btn:hover {
  background: #ffffffbb;
  box-shadow: none;
}

.solid-btn {
  background: #6ba3e7;
  color: rgb(245, 245, 245);
}

.solid-btn:hover {
  background: #77adf3;
}

/* HERO IMAGE */
.hero-img-wrapper,
.mobile-hero-img {
  justify-self: center;
  margin: 1rem auto 2rem;
}

.hero-img-wrapper img {
  min-width: 32rem;
  max-height: 50rem;
}

.mobile-hero-img img {
  display: none;
  max-width: 50rem;
  max-height: 50rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 16px;
  filter: opacity(0.8);
}

/* FEATURED LOGOS SECTION */
.featured-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.138);
  max-width: 130rem;
  margin: 0 auto;
  padding: 6rem 4rem;
}

.featured-logos img {
  object-fit: contain;
  height: 6.8rem;
  padding-inline: 17px;
}

/* GENERAL HEADING STYLING */
.subheading {
  color: #77adf3;
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
}

.body-heading {
  font-size: 4.4rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 6.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

.body-heading span {
  color: #77adf3;
}

.heading-left {
  text-align: start;
}

/* EVENT SECTION */
.section-events {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.28) 100%
  );
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.138);
}

.event-card-overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 140rem;
  gap: 2rem;
  margin-top: 3rem;
}

/* EVENT CARDS */
.event-card {
  border: 1px solid rgba(230, 230, 230, 0.6);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  transition: all 200ms ease-in;
}

.event-card img {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}

.event-card-body {
  padding: 1.2rem 2rem;
}

.event-card-heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 1rem;
}
.popup {
  width: 400px;
  background: #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #747474;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.event-card-desc {
  color: #626262;
  font-size: 1.5rem;
  margin: auto 1rem 1rem 1rem;
}

.event-stats {
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0 2rem;
}

.event-stats li {
  padding-bottom: 1rem;
  vertical-align: middle;
}

.event-stats i {
  color: #525252;
  font-size: 2rem;
  margin-right: 1.2rem;
}

.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.184);
  background: white;
}

/* EVENT TYPES LIST */
.event-types-overview {
  margin: 4rem auto;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.event-types-overview span {
  color: #7c7c7c;
}

.event-types-overview .event-types-list {
  margin: 3rem 2rem;
  transform: scale(1.2);
  line-height: 4rem;
}

.event-types-overview .event-types-list li {
  white-space: nowrap;
}

/* FEEDBACK SECTION */
.section-feedback {
  display: grid;
  gap: 5rem;
  padding: 5rem;
  max-width: 160rem;
  margin: 0 auto;
  justify-content: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.138);
}

/* FEEDBACK: FEEDBACK CARDS */
/* .feedback {
  align-self: center;
}

.feedback-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.feedback-card {
  background: #ffffff;
  border: 1px solid #a1d6eb;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback-credits {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.feedback-card img {
  width: 6rem;
  border-radius: 50%;
  border: 4px solid #ffffff;
  margin: 0 auto;
}

.feedback-text {
  font-size: 1.6rem;
}

.feedback-credits p {
  font-size: 1.4rem;
  color: #646464;
  margin-left: 1rem;
} */

/* SIGNUP FORM */
.section-signup {
  padding: 8rem;
}

.signup-form {
  padding: 3rem 2rem;
  color: rgb(0, 0, 0);
}

.signup-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin: 6rem auto;
  max-width: 100rem;
  background: linear-gradient(
    359.56deg,
    rgba(8, 141, 230, 0.43) -32.94%,
    rgba(216, 245, 204, 0) 99.61%
  );
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.signup-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.signup-desc {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 2.8rem;
}

.signup-img {
  background-image: url("/static/img/signupimg.jpg");
  background-size: cover;
  border-radius: 10px 0 0 10px;
  opacity: 0.75;
}

/* SIGNUP FORM ELEMENTS */
.signup-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.signup-box input,
select,
button {
  display: block;
  font-size: 1.4rem;
  border-radius: 4px;
  border: none;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  height: 4.4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.signup-box select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  background-size: 1rem;
  filter: grayscale(100%);
  color: grey;
}

.signup-box select:focus {
  color: black;
}

.signup-box label {
  font-size: 1.4rem;
}

.subscribe-btn {
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 12rem;
  cursor: pointer;
  background: #71b3e9;
  color: white;
  margin-top: 2.7rem;
  transition: all 150ms ease-in;
  margin-left: 14rem;
}

.subscribe-btn:hover {
  background: #62abe6;
}

.submission {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.6rem;
  font-weight: 500;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.936);
  color: #174a01;
  padding: 1rem;
  display: none;
}

/* FOOTER SECTION */
footer {
  background: #727272;
  border-top: 1px solid #e1e1e1;
  padding: 12.8rem 0;
}

.section-footer {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 7.8rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-logo {
  display: block;
  margin-bottom: 2rem;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-left: 20px;
}

.social-icon {
  font-size: 2.2rem;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fcfcfc;
  margin-top: auto;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #ffffff;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #56cdf1;
}

.footer-heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  color: #ffffff;
}

.contacts {
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #56cdf1;
}

.address {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.section {
  padding: 4rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
  border-bottom: 1px solid rgba(128, 128, 128, 0.138);
}
.slider {
  max-width: 100rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
  margin-top: 0;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.138); */
}

@media (max-width: 400px) {
  .slide {
    height: 50rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.138);
  }
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: -2%;
  left: 42%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .dots {
    display: none;
  }
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 20%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* box-shadow: 0 0.6rem 1.5rem rgba(187, 186, 186, 0.7); */
}

.dots__dot:last-child {
  margin-right: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 58%;
  position: relative;
}

/* @media (max-width: 400px) {
  .testimonial {
    border-bottom: 1px solid rgba(128, 128, 128, 0.138);
  }
} */

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

@media (max-width: 400px) {
  .testimonial__header {
    display: none;
  }
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

@media (max-width: 400px) {
  .testimonial__text {
    margin-bottom: 5.5rem;
  }
}

.testimonial__author {
  margin-left: 20rem;
  font-style: normal;

  display: grid;
  /* grid-template-columns: 6.5rem 1fr; */
  column-gap: 2rem;
}

@media (max-width: 1000px) {
  .testimonial__author {
    display: none;
  }
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

@media (max-width: 400px) {
  .testimonial__name {
    display: none;
  }
}

.testimonial__location {
  font-size: 1.5rem;
}

@media (max-width: 400px) {
  .testimonial__location {
    display: none;
  }
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

@media (max-width: 400px) {
  .subheading_feed {
    margin-top: 0;
    margin-bottom: -3px;
  }
}
